<!-- source:https://codepen.io/owaiswiz/pen/jOPvEPB -->
<div class="min-h-screen bg-gray-100 text-gray-900 flex justify-center overflow-hidden">
    <div class="flex justify-center items-center">
        <div
            class="max-w-screen-xl p-0 bg-white shadow sm:rounded-lg flex justify-start flex-1 md:h-[90vh] lg:w-[70vw] xl:w-[70vw] md:w-[90vw] h-screen w-screen overflow-hidden relative">
            <div class="lg:w-[30vw] md:w-[90vw] flex justify-center items-center flex-col w-screen h-screen lg:p-4 xl:p-20 md:p-5 p-3 absolute top-0 left-0 transition-all duration-300 ease-in-out"
                [ngClass]="[isSignIn ? 'opacity-100' : 'opacity-0']">
                <div class="w-100 justify-center items-center xl:p-8 lg:p-4 p-3 transition-all duration-700 flex"
                    [ngClass]="isEmail === 0 ? 'flex' : 'hidden'">
                    <h1 class="xl:text-5xl sm:text-4xl text-3xl font-bold cursor-pointer">
                        <span class="hover:text-indigo-500">Q</span><span class="hover:text-indigo-500">u</span><span
                            class="hover:text-indigo-500">a</span><span class="hover:text-indigo-500">n</span><span
                            class="hover:text-indigo-500">t</span><span class="hover:text-indigo-500">m</span><span
                            class="hover:text-indigo-500">G</span><span>o</span><span
                            class="hover:text-indigo-500">o</span><span class="hover:text-indigo-500">d</span><span
                            class="hover:text-indigo-500">s</span>
                    </h1>
                </div>
                <div class="flex-col flex items-center transition-all duration-700 ">
                    <div class="w-full flex-1">
                        <div class="mx-auto xl:max-w-xs ">
                            <form [formGroup]="signInForm" (ngSubmit)="signIn()"
                                [ngClass]="isEmail === 0 ? 'block' : 'hidden'">
                                <input
                                    class="w-full px-8 py-4 rounded-lg font-medium bg-gray-100 border border-gray-200 placeholder-gray-500 text-sm focus:outline-none focus:border-gray-400 focus:bg-white"
                                    type="email" id="email" placeholder="Email" formControlName="email"
                                    autocomplete="true" />
                                <input
                                    class="w-full px-8 py-4 rounded-lg font-medium bg-gray-100 border border-gray-200 placeholder-gray-500 text-sm focus:outline-none focus:border-gray-400 focus:bg-white mt-5"
                                    type="password" id="password" placeholder="Password" formControlName="password" />
                                <div class="p-2 flex justify-start items-center">
                                    <a (click)="toggleIsEmail()" class="text-indigo-500 cursor-pointer">
                                        forgot password ?
                                    </a>
                                </div>
                                <button type="submit" [disabled]="!signInForm.valid"
                                    class="tracking-wide font-semibold disabled:bg-indigo-800 disabled:text-gray-500 text-white bg-indigo-500 text-white-500 w-full py-4 rounded-lg hover:bg-indigo-700 transition-all duration-300 ease-in-out flex items-center justify-center focus:shadow-outline focus:outline-none">
                                    <svg class="w-6 h-6 -ml-2" fill="none" stroke="currentColor" stroke-width="2"
                                        stroke-linecap="round" stroke-linejoin="round">
                                        <path d="M16 21v-2a4 4 0 00-4-4H5a4 4 0 00-4 4v2" />
                                        <circle cx="8.5" cy="7" r="4" />
                                        <path d="M20 8v6M23 11h-6" />
                                    </svg>
                                    <span class="ml-3">
                                        Sign In
                                    </span>
                                </button>
                            </form>
                            <form [formGroup]="forgotTimeEmailForm" (ngSubmit)="sendMail()"
                                class="justify-center items-center flex-col gap-5 w-100 h-100"
                                [ngClass]="isEmail === 1 ? 'flex' : 'hidden'">
                                <div class="w-full py-2 flex justify-start items-start">
                                    <span (click)="back()"
                                        class="flex justify-center items-center gap-3 cursor-pointer">
                                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                                            stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                                            <path stroke-linecap="round" stroke-linejoin="round"
                                                d="M10.5 19.5 3 12m0 0 7.5-7.5M3 12h18" />
                                        </svg><span>Back</span>
                                    </span>
                                </div>
                                <h1 class="text-4xl text-left font-bold">Send OTP</h1>
                                <input
                                    class="w-full px-8 py-4 rounded-lg font-medium bg-gray-100 border border-gray-200 placeholder-gray-500 text-sm focus:outline-none focus:border-gray-400 focus:bg-white"
                                    type="email" id="forgotEmail" placeholder="email" formControlName="email" />
                                <input
                                    class="tracking-wide font-semibold disabled:bg-indigo-800 disabled:text-gray-500 text-white bg-indigo-500 text-white-500 w-full py-4 rounded-lg hover:bg-indigo-700 transition-all duration-300 ease-in-out flex items-center justify-center focus:shadow-outline focus:outline-none"
                                    type="submit" value="Send Mail" [disabled]="!forgotTimeEmailForm.valid">
                            </form>
                            <form [formGroup]="forgotPasswordForm" (ngSubmit)="changePassword()"
                                class="justify-center items-center flex-col gap-5 w-100 h-100"
                                [ngClass]="isEmail === 2 ? 'flex' : 'hidden'">
                                <div class="w-full py-2 flex justify-start items-start">
                                    <span (click)="back()" class="flex justify-center items-center gap-3">
                                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                                            stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                                            <path stroke-linecap="round" stroke-linejoin="round"
                                                d="M10.5 19.5 3 12m0 0 7.5-7.5M3 12h18" />
                                        </svg><span>Back</span>
                                    </span>
                                </div>
                                <h1 class="text-4xl text-left font-bold">Enter OTP</h1>
                                <input
                                    class="w-full px-8 py-4 rounded-lg font-medium bg-gray-100 border border-gray-200 placeholder-gray-500 text-sm focus:outline-none focus:border-gray-400 focus:bg-white"
                                    type="password" id="otp" placeholder="OTP" formControlName="OTP" />
                                <input
                                    class="tracking-wide font-semibold disabled:bg-indigo-800 disabled:text-gray-500 text-white bg-indigo-500 text-white-500 w-full py-4 rounded-lg hover:bg-indigo-700 transition-all duration-300 ease-in-out flex items-center justify-center focus:shadow-outline focus:outline-none"
                                    type="submit" value="Conform" [disabled]="!forgotPasswordForm.valid">
                            </form>
                            <form [formGroup]="changePasswordForm" (ngSubmit)="updatePassword()"
                                class="justify-center items-center flex-col gap-5 w-100 h-100"
                                [ngClass]="isEmail === 3  ? 'flex' : 'hidden'">
                                <div class="w-full py-2 flex justify-start items-start">
                                    <span (click)="back()" class="flex justify-center items-center gap-3">
                                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                                            stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                                            <path stroke-linecap="round" stroke-linejoin="round"
                                                d="M10.5 19.5 3 12m0 0 7.5-7.5M3 12h18" />
                                        </svg><span>Back</span>
                                    </span>
                                </div>
                                <h1 class="text-4xl text-left font-bold">update Password</h1>
                                <input
                                    class="w-full px-8 py-4 rounded-lg font-medium bg-gray-100 border border-gray-200 placeholder-gray-500 text-sm focus:outline-none focus:border-gray-400 focus:bg-white"
                                    type="password" id="upadtepassword" placeholder="password"
                                    formControlName="password" />
                                <input
                                    class="tracking-wide font-semibold disabled:bg-indigo-800 disabled:text-gray-500 text-white bg-indigo-500 text-white-500 w-full py-4 rounded-lg hover:bg-indigo-700 transition-all duration-300 ease-in-out flex items-center justify-center focus:shadow-outline focus:outline-none"
                                    type="submit" value="Change Password" [disabled]="!changePasswordForm.valid">
                            </form>
                        </div>
                        <div class="flex justify-center items-center gap-2 text-sm text-gray-500 p-2 "
                            [ngClass]="isEmail === 0? 'flex' : 'hidden'">
                            <p>Don't have account ?</p><button (click)="toggleSignIn()">Sign Up</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="flex-1 bg-indigo-100 text-center hidden lg:flex absolute top-0 bottom-0 transition-all duration-500 right-0 ease-in-out"
                [ngClass]="!isSignIn ? '-translate-x-[70%]' : 'translate-x-0'" style="z-index: 2; ">
                <div class="lg:w-[35vw] m-12 img-fluid bg-contain bg-center bg-no-repeat"
                    style="background-image: url('https://storage.googleapis.com/devitary-image-host.appspot.com/15848031292911696601-undraw_designer_life_w96d.svg');">
                </div>
            </div>
            <div class="lg:w-[30vw] md:w-[90vw] w-full lg:p-4 xl:p-20 md:p-5 p-3 absolute top-0 right-0 transition-all duration-300 ease-in-out h-full flex justify-center items-center flex-col"
                [ngClass]="!isSignIn ? 'opacity-100 right-0 md:translate-x-0' : 'opacity-0 md:right-0 right-[100%]'">
                <div class="w-100 flex justify-center items-center xl:p-8 p-4 transition-all duration-300">
                    <h1 class="xl:text-5xl sm:text-3xl font-bold cursor-pointer">
                        <span class="hover:text-indigo-500">Q</span>
                        <span class="hover:text-indigo-500">u</span>
                        <span class="hover:text-indigo-500">a</span>
                        <span class="hover:text-indigo-500">n</span>
                        <span class="hover:text-indigo-500">t</span>
                        <span class="hover:text-indigo-500">m</span>
                        <span class="hover:text-indigo-500">G</span>
                        <span class="hover:text-indigo-500">o</span>
                        <span class="hover:text-indigo-500">o</span>
                        <span class="hover:text-indigo-500">d</span>
                        <span class="hover:text-indigo-500">s</span>
                    </h1>
                </div>
                <div class="flex-col items-center flex w-full">
                    <div class="w-full flex-1">
                        <div class="mx-auto xl:max-w-xs">
                            <form [formGroup]="signUpForm" (ngSubmit)="signUp()"
                                class="flex justify-center items-center gap-3 flex-col">
                                <input
                                    class="w-full px-8 py-4 rounded-lg font-medium bg-gray-100 border border-gray-200 placeholder-gray-500 text-sm focus:outline-none focus:border-gray-400 focus:bg-white"
                                    type="text" id="username" placeholder="username" formControlName="username"
                                    autocomplete="true" />
                                <input
                                    class="w-full px-8 py-4 rounded-lg font-medium bg-gray-100 border border-gray-200 placeholder-gray-500 text-sm focus:outline-none focus:border-gray-400 focus:bg-white"
                                    type="email" id="email2" placeholder="Email" formControlName="email"
                                    autocomplete="true" />
                                <input
                                    class="w-full px-8 py-4 rounded-lg font-medium bg-gray-100 border border-gray-200 placeholder-gray-500 text-sm focus:outline-none focus:border-gray-400 focus:bg-white"
                                    type="password" id="password2" placeholder="Password" formControlName="password" />
                                <button type="submit" [disabled]="!signUpForm.valid"
                                    class="tracking-wide gap-3 font-semibold disabled:bg-indigo-800 disabled:text-gray-500 text-white bg-indigo-500 text-white-500 w-full py-4 rounded-lg hover:bg-indigo-700 transition-all duration-300 ease-in-out flex items-center justify-center focus:shadow-outline focus:outline-none">
                                    <svg class="w-6 h-6 -ml-2" fill="none" stroke="currentColor" stroke-width="2"
                                        stroke-linecap="round" stroke-linejoin="round">
                                        <path d="M16 21v-2a4 4 0 00-4-4H5a4 4 0 00-4 4v2" />
                                        <circle cx="8.5" cy="7" r="4" />
                                        <path d="M20 8v6M23 11h-6" />
                                    </svg>
                                    <span>
                                        Sign In
                                    </span>
                                </button>
                            </form>
                            <div class="flex justify-center items-center gap-2 text-sm text-gray-500 p-4 ">
                                <p>Already have account ?</p><button (click)="toggleSignIn()">Sign In</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>