<div class=" absolute top-0 right-0 left-0 bottom-0 h-full bg-white">
    <div class="w-full h-full flex flex-col p-2">
        <div class="w-full p-2">
            <h2 class="font-bold text-2xl capitalize">{{category}}</h2>
        </div>
        <div class="select-none h-full w-full flex flex-wrap p-4 gap-4 justify-center items-center">
            <div class="select-none h-full w-full flex flex-wrap p-4 gap-4">
                <a [routerLink]="[cat.subCategory]" *ngFor="let cat of sub_categories | async" class="w-40 h-40 border-2 border-gray-300 hover:shadow-xl shadow-gray-800 rounded-xl flex justify-center items-center text-gray-500 cursor-pointer hover:border-blue-600 hover:text-blue-600 focus:border-blue-600 focus:text-blue-600">
                    <p class="capitalize">{{cat.subCategory}}</p>
                </a>
                <div (click)="add()" class="w-40 h-40 border-2 border-gray-300 hover:shadow-xl shadow-gray-800 rounded-xl flex justify-center items-center text-gray-500 cursor-pointer hover:border-blue-600 hover:text-blue-600 focus:border-blue-600 focus:text-blue-600">
                    <p class="capitalize">+</p>
                </div>
            </div>
        </div>
    </div>
</div>