<div class="md:absolute fixed flex justify-center h-full items-center top-0 right-0 bottom-0 left-0 z-50 bg-gray-700/80">
    <div class="bg-white w-[30%] min-w-80 h-100 shadow">
        <div class="flex p-2 justify-center items-center select-none relative py-2 border-b-2">
            <h2 class="w-full text-center text-2xl font-semibold">Add Custom Category</h2>
        </div>
        <div class="flex flex-col gap-4 justify-center items-center h-[82%] py-3 relative">
            <form [formGroup]="cateForm" (ngSubmit)="addCategory()"
                class="w-[70%] flex flex-col justify-start items-center h-[70%] overflow-y-hidden">
                <div class="relative z-0 w-full group">
                    <div *ngIf="addCustomCategoryEnabled">
                        <input type="text" formControlName="Category" id="Category"
                            class="block py-2.5 px-0 w-full  text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none dark:text-white dark:border-gray-600 dark:focus:border-blue-500 focus:outline-none focus:ring-0 focus:border-blue-600 hover:border-blue-600 peer"
                            placeholder="" />
                        <label for="Category"
                            class="peer-focus:font-medium peer-hover:text-blue-600 absolute text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:start-0 rtl:peer-focus:translate-x-1/4 rtl:peer-focus:left-auto peer-focus:text-blue-600 peer-focus:dark:text-blue-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6">Category</label>
                    </div>
                    <div *ngIf="!addCustomCategoryEnabled">
                        <select formControlName="Category" id="sub-category"
                            class="w-full border-0 border-b-2 border-gray-300 hover:border-blue-600 hover:text-blue-600 focus:ring-0 dark:text-gray-400">
                            <option *ngFor="let cate of categories" value={{cate.category}} class="text-black">
                                {{cate.category}}</option>
                        </select>
                    </div>
                    <span class="absolute hover:border-blue-600 hover:text-blue-600 px-2.5 -right-[3.4rem] text-gray-500 border-b-2 border-gray-300 h-full top-0 flex justify-center items-center" (click)="toggleCustomEnabled()">
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                            stroke="currentColor" class="w-6 h-6">
                            <path stroke-linecap="round" stroke-linejoin="round"
                                d="M7.5 21 3 16.5m0 0L7.5 12M3 16.5h13.5m0-13.5L21 7.5m0 0L16.5 12M21 7.5H7.5" />
                        </svg>
                    </span>
                </div>
                <div formArrayName="SubCategory" class="pb-14 pt-4 w-full flex flex-col overflow-y-auto">
                    <div class="relative z-0 w-full group" *ngFor="let subcat of sub_cates.controls; let i = index">
                        <input type="text" [formControlName]="i" id="Sub-category-{{i}}"
                            class="block py-2.5 px-0 w-full  text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none dark:text-white dark:border-gray-600 dark:focus:border-blue-500 focus:outline-none focus:ring-0 hover:border-blue-600 focus:border-blue-600 peer"
                            placeholder="" />
                        <label for="Sub-category-{{i}}"
                            class="peer-focus:font-medium absolute peer-hover:text-blue-600 text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:start-0 rtl:peer-focus:translate-x-1/4 rtl:peer-focus:left-auto peer-focus:text-blue-600 peer-focus:dark:text-blue-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6">Sub-category</label>
                        <span [ngClass]="i>0 ? 'flex' : 'hidden'"
                            class="absolute select-none right-0 top-1 h-100 justify-center h-full items-center peer"><span
                                class="rounded-full w-7 h-7 flex justify-center items-center hover:bg-slate-200  cursor-pointer border-2 border-transparent hover:border-red-500k text-gray-500 font-medium hover:text-red-500"
                                (click)="remove(i)" title="Remove Sub-category">-</span></span>
                    </div>
                </div>
                <div class="w-full absolute bottom-0 left-0 right-0 border-t-2 flex bg-white">
                    <button
                        class="flex-1 border-r-2 hover:bg-gray-200 disabled:text-gray-400 font-medium sm:w-auto px-5 py-2.5 text-center">Add</button>
                    <span
                        class="flex-1 border-r-2 block hover:bg-gray-200 disabled:text-gray-400 font-medium sm:w-auto px-5 py-2.5 text-center cursor-pointer"
                        (click)="close()">Cancel</span>
                    <span
                        class="hover:border-blue-600 cursor-pointer select-none absolute bottom-[4.25rem] right-1 hover:text-blue-600 md:px-3.5 px-2.5 border-0 border-b-2 text-2xl border-gray-300 md:py-1 py-0 text-gray-500"
                        (click)="addMore()" title="Add Sub-category">+</span>
                </div>
            </form>
        </div>
    </div>
</div>