.product_image:hover::before{
    position: absolute;
    content: 'CHANGE IMAGE';
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    text-align: center;
    height: 100%;
    width: 100%;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: rgb(0, 0,0, 0.6);
}
select:focus ~ label{
    translate: 0 -1.5rem;
    scale: .75;
    color: rgb(28 100 242 / var(--tw-text-opacity));
}
#cate[selected] ~ label,
#subcate[selected] ~ label{ 
    translate: 0 -1.5rem;
}