<div class="h-full box-border border w-full flex justify-center items-start gap-2 py-4"
    [ngClass]="!productDetails ? 'space-y-8 animate-pulse md:space-y-0 md:space-x-8': ''">
    <div class="flex gap-8 items-center justify-center h-full md:w-[60%] w-screen md:flex-row flex-col rounded-lg md:overflow-hidden">
        <div class="h-full md:w-[50%]">
            <img src={{productDetails.img}} class="h-full rounded-lg" alt="product image" *ngIf="productDetails">
            <svg class="w-full h-full text-gray-200" *ngIf="!productDetails" aria-hidden="true"
                xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
                <path
                    d="M18 0H2a2 2 0 0 0-2 2v14a2 2 0 0 0 2 2h16a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2Zm-5.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3Zm4.376 10.481A1 1 0 0 1 16 15H4a1 1 0 0 1-.895-1.447l3.5-7A1 1 0 0 1 7.468 6a.965.965 0 0 1 .9.5l2.775 4.757 1.546-1.887a1 1 0 0 1 1.618.1l2.541 4a1 1 0 0 1 .028 1.011Z" />
            </svg>
        </div>
        <div class="h-full md:w-[50%] w-full">
            <div class="h-full w-full flex items-center justify-center flex-col gap-1 px-5" *ngIf="!productDetails">
                <div class="h-5 bg-gray-200 rounded-full dark:bg-gray-700 w-full mb-6"></div>
                <div class="h-2.5 bg-gray-200 rounded-full dark:bg-gray-700 w-full"></div>
                <div class="w-full h-100 flex py-2 gap-1 justify-start">
                    <div class="h-2.5 bg-gray-200 rounded-full dark:bg-gray-700 w-[50%]"></div>
                    <div class="h-2.5 bg-gray-200 rounded-full dark:bg-gray-700 w-[50%]"></div>
                </div>
                <div class="h-2.5 bg-gray-200 rounded-full dark:bg-gray-700 w-full"></div>
                <div class="w-full h-100 flex py-2 gap-1 justify-start">
                    <div class="h-2.5 bg-gray-200 rounded-full dark:bg-gray-700 w-[30%]"></div>
                    <div class="h-2.5 bg-gray-200 rounded-full dark:bg-gray-700 w-[70%]"></div>
                </div>
                <div class="w-full h-100 flex pb-2 gap-1 justify-start">
                    <div class="h-2.5 bg-gray-200 rounded-full dark:bg-gray-700 w-[33%]"></div>
                    <div class="h-2.5 bg-gray-200 rounded-full dark:bg-gray-700 w-[33%]"></div>
                    <div class="h-2.5 bg-gray-200 rounded-full dark:bg-gray-700 w-[34%]"></div>
                </div>
                <div class="h-2.5 bg-gray-200 rounded-full dark:bg-gray-700 w-full mb-2"></div>
                <div class="h-2.5 bg-gray-200 rounded-full dark:bg-gray-700 w-full"></div>
                <div class="w-full h-100 flex py-2 gap-1 justify-start">
                    <div class="h-2.5 bg-gray-200 rounded-full dark:bg-gray-700 w-[70%]"></div>
                    <div class="h-2.5 bg-gray-200 rounded-full dark:bg-gray-700 w-[30%]"></div>
                </div>
                <div class="w-full h-100 flex pb-2 gap-1 justify-start">
                    <div class="h-2.5 bg-gray-200 rounded-full dark:bg-gray-700 w-[33%]"></div>
                    <div class="h-2.5 bg-gray-200 rounded-full dark:bg-gray-700 w-[33%]"></div>
                    <div class="h-2.5 bg-gray-200 rounded-full dark:bg-gray-700 w-[34%]"></div>
                </div>
                <div class="w-full h-100 flex gap-1 justify-start">
                    <div class="h-2.5 bg-gray-200 rounded-full dark:bg-gray-700 w-[50%]"></div>
                    <div class="h-2.5 bg-gray-200 rounded-full dark:bg-gray-700 w-[50%]"></div>
                </div>
                <div class="w-full h-100 flex py-2 gap-1 justify-start">
                    <div class="h-2.5 bg-gray-200 rounded-full dark:bg-gray-700 w-[50%]"></div>
                    <div class="h-2.5 bg-gray-200 rounded-full dark:bg-gray-700 w-[50%]"></div>
                </div>
            </div>
            <div class="w-full h-full flex flex-col">
                <div *ngIf="productDetails" class="h-100">
                    <h2 class="text-3xl font-bold">{{productDetails.name}}</h2>
                </div>
                <div *ngIf="productDetails" class="h-100 py-3">
                    <span class="px-4 py-2 rounded-full bg-gray-300">{{productDetails.category}}</span> : <span class="px-4 py-2 rounded-full bg-gray-300">{{productDetails.subCategory}}</span>
                </div>
                <div *ngIf="productDetails" class="h-[80%] overflow-y-auto" >
                    <p>{{productDetails.description}}</p>
                </div>
                <div *ngIf="productDetails" class="h-100 overflow-y-auto" >
                    <p class="text-2xl font-semibold"><span>Price : </span>${{productDetails.price}}</p>
                </div>
                <div class="h-100 flex items-center justify-end gap-4">
                    <a routerLink="/dashboard/product/update/{{product_id}}" class="rounded-lg bg-blue-700 text-white py-2 px-5">Edit</a>
                    <button class="rounded-lg bg-blue-700 text-white py-2 px-5" (click)="remove(productDetails._id)">Delete</button>
                </div>
            </div>
        </div>
    </div>
</div>